
$fuente-titulo: 'Montserrat', sans-serif;
$fuente-texto: 'Crimson Text', serif;
$color-fondo-nav: #F9F5EB;
$color-nav: #1c3879;
$color-nav-hover: #94b2e0;
$color-sombra-texto: rgba(224,219,219,0.534);
$color-fondo: #DBDFFD;
$color-texto: #003865;
$color-sombra-caja: #242424;

@import 'mixin.scss';

@import 'componentes/body';
@import 'componentes/menu-navegacion';
@import 'componentes/index';
@import 'componentes/calendario';
@import 'componentes/grafico';
@import 'componentes/informacion';
@import 'componentes/suscribete';
@import 'componentes/footer';
@import 'componentes/mediaQueryMovil';
@import 'componentes/mediaQueryTablet';
