@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: url(../images/pyramid.png); }

.ancho {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 90%; }

/* Menu Navegación  */
.color-nav {
  background-color: #F9F5EB;
  box-shadow: 0px 1px #1C3879; }

nav {
  padding: 1rem;
  background-color: #1C3879;
  display: flex; }
  nav ul {
    display: flex;
    align-items: center; }
    nav ul li a {
      font-family: 'Montserrat', sans-serif;
      color: #F9F5EB;
      text-decoration: none;
      padding: .5rem 1rem; }
      nav ul li a:hover {
        background-color: #94b2e0;
        color: white;
        border-radius: 10px;
        text-shadow: 2px 2px 2px rgba(224, 219, 219, 0.534); }

/*-- Fin Menu Navegacion ---*/
/*----- estilos index. html -----*/
.container-body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  grid-template-areas: "header header header header" "img img titulo-img titulo-img" "img img texto texto" "noticias noticias noticias noticias" "footer footer footer footer"; }

.header {
  grid-area: header; }

.img {
  grid-area: img;
  background-color: #DBDFFD; }
  .img .grafico-diario-img {
    width: 75vw;
    max-width: 600px;
    min-width: 320px;
    margin: auto;
    padding: 20px 10px; }

.titulo-img {
  grid-area: titulo-img;
  padding-top: 15px;
  background-color: #DBDFFD;
  padding-left: 15px;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  align-items: center; }

.texto {
  grid-area: texto; }
  .texto .grafico-diario-text {
    font-family: 'Crimson Text', serif;
    color: #003865;
    padding: 20px;
    margin-bottom: 2px;
    font-size: 1.1rem; }

.grafico-diario {
  background-color: #DBDFFD;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  align-items: flex-start; }

.noticias {
  grid-area: noticias;
  background-color: #9BA3EB;
  padding: 10px; }
  .noticias h2, .noticias h3 {
    font-family: 'Crimson Text', serif;
    color: #003865;
    margin-left: 20px;
    padding: 10px 10px 10px 10px;
    text-align: center; }
  .noticias .cuadro {
    border: 1px #fff solid;
    border-radius: 10px;
    margin: 15px;
    padding: 5px;
    color: #003865;
    box-shadow: 3px 3px 10px #242424; }
    .noticias .cuadro .noticia-contenedor {
      display: flex;
      justify-content: space-between;
      padding: 10px; }
      .noticias .cuadro .noticia-contenedor .noticias-flex {
        font-family: 'Crimson Text', serif;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px; }
        .noticias .cuadro .noticia-contenedor .noticias-flex img {
          width: 150px;
          height: 100px;
          border-radius: 5px;
          border: 1px solid #DBDFFD; }
      .noticias .cuadro .noticia-contenedor .noticias-texto {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px; }

.footer {
  grid-area: footer; }

/* -- Fin estilos index.html --*/
/* --  Página calendario.html -- */
.calendario {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #DBDFFD;
  padding-bottom: 15px; }
  .calendario h1 {
    padding: 20px;
    margin-bottom: 5px;
    font-family: 'Crimson Text', serif;
    color: #003865;
    text-shadow: 2px 2px 2px rgba(224, 219, 219, 0.904); }
  .calendario p {
    text-align: center;
    font-family: 'Crimson Text', serif;
    text-justify: newspaper;
    color: #003865; }
  .calendario .cal-economico {
    width: 60%;
    height: 80vh;
    box-shadow: 3px 3px 10px #242424; }

.tradingview-widget-container {
  background-color: #242424;
  padding: 10px;
  border-radius: 5px; }

/* -- Fin Página Calendario -- */
/*Página graficos.html*/
.grafico-tradingview {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1.5fr 0.5fr;
  grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "grafico-titulo grafico-titulo grafico-titulo grafico-titulo" "... area-grafico area-grafico ..." "... area-grafico area-grafico ..." ". . . .";
  background-color: #DBDFFD; }

.grafico-titulo {
  grid-area: grafico-titulo;
  padding: 20px;
  margin-bottom: 5px;
  font-family: 'Crimson Text', serif;
  color: #003865;
  display: flex;
  align-items: center;
  justify-content: space-around; }

.area-grafico {
  grid-area: area-grafico;
  height: 500px;
  box-shadow: 3px 3px 10px #242424; }

/* Fin Página graficos.html*/
/* -- Página informacion.html -- */
.patrones-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 20% 80%;
  gap: 2px 10px;
  grid-auto-flow: row;
  grid-template-areas: "img titulo" "img texto";
  align-content: center;
  align-items: center;
  justify-items: center;
  border: #003865 1px solid;
  margin: 5px;
  border-radius: 10px;
  background: url(../images/imagen-fondo.png) no-repeat;
  background-size: cover; }

.patrones {
  background-color: #DBDFFD;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center; }
  .patrones .patrones-titulo {
    font-family: 'Crimson Text', serif;
    color: #003865;
    padding: 20px; }

#patrones-graficos {
  padding: 10px; }
  #patrones-graficos h3 {
    font-family: 'Crimson Text', serif;
    color: #003865;
    padding: 20px; }
  #patrones-graficos .patrones-img {
    grid-area: img;
    width: 400px;
    height: 300px;
    border: #fff 1px solid;
    border-radius: 5px;
    transition: box-shadow 2s linear 300ms;
    -webkit-transition: box-shadow 2s linear 300ms; }
    #patrones-graficos .patrones-img:hover {
      box-shadow: 1px 0px 10px 5px #646FD4;
      -webkit-box-shadow: 1px 0px 10px 5px #646FD4; }
  #patrones-graficos .subtitulo-patrones {
    grid-area: titulo;
    font-family: 'Crimson Text', serif;
    color: #003865;
    text-decoration: overline underline;
    text-shadow: 2px 2px 2px rgba(224, 219, 219, 0.534);
    font-size: 1.1em; }
  #patrones-graficos .texto-patrones {
    grid-area: texto;
    background-color: #DBDFFD;
    box-shadow: 5px 5px 10px #242424;
    padding: 10px;
    margin: 10px;
    color: #003865; }

/* --- Fin página información----- */
/* Página suscribete.html*/
.formulario {
  background-color: #9BA3EB;
  padding: 20px;
  font-family: 'Crimson Text', serif;
  color: #003865;
  display: flex;
  justify-content: center;
  background: url(../images/grafico-forex.png) no-repeat;
  background-size: cover; }
  .formulario form {
    background-color: #EAE3D2;
    border-radius: 5px; }
    .formulario form h2 {
      background-color: #607EAA;
      font-size: 18px;
      color: #fff;
      padding: 10px;
      /* margin: 10px; */
      border-radius: 5px;
      justify-content: center; }
    .formulario form label {
      font-size: 1rem;
      padding: 1%; }
    .formulario form input {
      padding: 1%;
      border-radius: 3px;
      margin: 5px; }
    .formulario form .datos-personales {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: stretch;
      justify-content: center;
      align-items: stretch;
      margin: 5px;
      padding: 5px; }
    .formulario form .opciones {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 5px;
      padding: 5px; }
    .formulario form .boton {
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;
      padding: 10px; }
    .formulario form .btn-enviar {
      font-size: 15px;
      font-family: 'Montserrat', sans-serif;
      width: 80px;
      height: 40px;
      border-width: 2px;
      color: #fff;
      border-color: #599bb3;
      border-radius: 5px;
      background: linear-gradient(#599bb3, #408c99); }
      .formulario form .btn-enviar:hover {
        background: linear-gradient(#408c99, #599bb3); }

/* -- Fin Suscribet.html -- */
/* 
inicio Footer */
footer {
  padding: 10px 30px;
  background-image: url(../images/gutter.gif);
  border-radius: 2px; }
  footer p {
    text-align: center;
    font-family: 'Crimson Text', serif; }
  footer .movil-texto {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center; }
  footer .contenedor {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px; }
    footer .contenedor .social-logo {
      width: 30px;
      margin: 10px;
      border-radius: 5px; }
      footer .contenedor .social-logo:hover {
        -webkit-box-shadow: 0px 0px 5px 3px #646fd4;
        -moz-box-shadow: 0px 0px 5px 3px #646fd4;
        box-shadow: 0px 0px 5px 3px #646fd4; }
  footer .movil {
    width: 40px;
    transform: rotate(40deg);
    right: 30%; }

/* fin footer */
/* Media Querys */
@media screen and (min-width: 1025px) and (max-width: 2400px) {
  .container-body {
    margin: 0 100px; }
  .img {
    display: flex; } }

@media only screen and (max-width: 480px) {
  .container-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "header header" "titulo-img titulo-img" "img img" "texto texto" "noticias noticias " "footer footer "; }
  /* nav ul{
        display: block;
      } */
  .titulo-img {
    display: flex;
    justify-content: space-around;
    padding: 15px; }
  .grafico-diario-img {
    width: 80vw;
    height: 23vh; }
  .noticia-contenedor {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-direction: column; }
  .noticias-img {
    width: 120px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid #DBDFFD; }
  /*pagina calendario*/
  .cal-economico {
    width: 90%;
    height: 500px; }
  /*página graficos*/
  .grafico-tradingview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 0.5fr 0.3fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "grafico-titulo grafico-titulo " " area-grafico area-grafico " " area-grafico area-grafico " ". . ";
    background-color: #DBDFFD; }
  .area-grafico {
    margin: 0 10px; }
  /*Página información*/
  .patrones-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    gap: 2px 10px;
    grid-auto-flow: row;
    grid-template-areas: "titulo titulo" "img img" "texto texto";
    align-content: space-around;
    align-items: center;
    border: #003865 1px solid;
    margin: 5px;
    border-radius: 5px;
    justify-items: center; }
  .patrones-titulo {
    grid-area: titulo1;
    font-family: 'Crimson Text', serif;
    color: #003865;
    padding: 20px; }
  .patrones-img {
    width: 300px;
    height: 200px;
    grid-area: img;
    border: #fff 1px solid;
    border-radius: 2px;
    transition: box-shadow 2s linear 300ms;
    -webkit-transition: box-shadow 2s linear 300ms; }
  .patrones-img:hover {
    box-shadow: 1px 0px 10px 5px #646FD4;
    -webkit-box-shadow: 1px 0px 10px 5px #646FD4; }
  .movil-texto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center; }
  .movil {
    width: 25px; } }

@media only screen and (max-width: 850px) {
  .container-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "header header header" "titulo-img titulo-img titulo-img" "img img img" "texto texto texto" "noticias noticias noticias" "footer footer footer"; }
  .img {
    display: flex; }
  .titulo-img {
    display: flex;
    justify-content: space-around;
    padding: 15px; }
  .noticia-contenedor {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-direction: column; }
  .img {
    display: flex;
    padding: 10px; }
  .grafico-diario-img {
    width: 90vw;
    height: 23vh;
    max-width: 80%;
    min-width: 200px;
    margin: auto;
    padding: 20px 10px; }
  /*Página información*/
  .patrones-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    gap: 2px 10px;
    grid-auto-flow: row;
    grid-template-areas: "titulo titulo" "img img" "texto texto";
    align-content: space-around;
    align-items: center;
    border: #003865 1px solid;
    margin: 5px;
    border-radius: 5px;
    justify-items: center; }
  #patrones-graficos {
    padding: 0px; }
  .patrones-img {
    width: 260px;
    height: 200px;
    grid-area: img;
    border: #fff 1px solid;
    border-radius: 2px;
    transition: box-shadow 2s linear 300ms;
    -webkit-transition: box-shadow 2s linear 300ms; }
  .patrones-img:hover {
    box-shadow: 1px 0px 10px 5px #646FD4;
    -webkit-box-shadow: 1px 0px 10px 5px #646FD4; } }
