/* 
inicio Footer */

footer {
  padding: 10px 30px;
  background-image: url("../images/carbon_fibre.webp");
  border-radius: 2px;
  color: #fffbe6c0;

  p {
    text-align: center;
    font-family: 'Crimson Text', serif;
  }

  .contenedor {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;

    .social-logo {
      width: 30px;
      margin: 10px;
      border-radius: 5px;

      &:hover {
        transition: all 0.3s ease;
        -webkit-box-shadow: 0 0 3px 2px rgba(100,111,212,1);
        -moz-box-shadow: 0 0 3px 2px rgba(100,111,212,1);
        box-shadow: 0 0 3px 2px rgba(100,111,212,1);
      }
    }
  }

  .movil {
    width: 40px;
    transform: rotate(40deg);
    right: 30%;
  }
}

.movil-texto {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
/* fin footer */
