
/*----- estilos index. html -----*/
.container-body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    grid-template-areas: 
    "header header header header"
    "img img titulo-img titulo-img"
    "img img texto texto"
    "noticias noticias noticias noticias"
    "footer footer footer footer"; 
}

.header {
    grid-area: header; }
  
  .img {
    grid-area: img;
    background-color:  $color-fondo;
    .grafico-diario-img {
      width: 75vw;
      max-width: 600px;
      min-width: 320px;
      margin: auto;
      padding: 20px 10px ;
    } 
    
  }

  #img-grafico{
    width: 80%;
    border-radius: 6px;
    box-shadow: 0px 3px 5px rgba(15,15,15,.3);
    }
  
  .titulo-img {
    grid-area: titulo-img;
    padding-top: 15px;
    background-color:  $color-fondo;
    padding-left: 15px;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-items: center; }
  
  .texto {
    grid-area: texto; 
    .grafico-diario-text {
      font-family: $fuente-texto;
      color: $color-texto;
      padding: 20px;
      margin-bottom: 2px;
      font-size: 1.1rem;
     }
  }

  .grafico-diario {
      background-color: $color-fondo;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: flex-start;
      align-items: flex-start;
    }  
  
  .noticias {
    grid-area: noticias; 
    background-color: #9BA3EB;
    padding: 10px;

    h2{
      font-family: $fuente-texto;
      color: $color-texto;
      margin-left: 20px;
      padding: 10px 10px 10px 10px;
      text-align: center;
    }

    h3{
      @extend h2;
      text-decoration: underline;
      text-decoration-color: $color-nav;
      text-decoration-style: double ;
    
    }
    .cuadro{
      border: 1px #fff solid;
      border-radius: 10px;
      margin: 15px;
      padding: 5px;
      color: $color-texto;
      box-shadow: 3px 3px 10px $color-sombra-caja;
    
      .noticia-contenedor{
        display: flex;
        justify-content: space-between;
        padding: 10px;
          .noticias-flex{
            font-family: $fuente-texto;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 10px;
              img{
                width: 150px;
                height: 100px;
                border-radius: 5px;
                border: 1px solid $color-fondo;
              }
          }
          .noticias-texto{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 10px;
          }
      }
  }
    
  }
  
  
  .footer {
    grid-area: footer; }

/* -- Fin estilos index.html --*/    