/* -- Página informacion.html -- */

.patrones-container {  
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows:  20% 80%;
    gap: 2px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "img titulo"
      "img texto";
      align-content: center;
      align-items: center;
      justify-items: center;
      border: #003865 1px solid;
      margin: 5px;
      border-radius: 10px;
      
      background: url(../images/imagen-fondo.png) no-repeat;
      background-size: cover;
  }

  .patrones{
    background-color: #DBDFFD;
      display: flex;
      flex-direction: column;
      align-content: stretch;
      justify-content: space-evenly;
      align-items: center;
      .patrones-titulo{
        font-family: 'Crimson Text', serif;
        color: #003865;
        padding: 20px;
      }
  }

  #patrones-graficos{
    padding: 10px;
    h3{
        font-family: 'Crimson Text', serif;
    color: #003865;
    padding: 20px;
    }
    .patrones-img {
        grid-area: img;
        width: 400px;
        height: 300px;
        border: #fff 1px solid;
        border-radius: 5px;
      
        transition: box-shadow 2s linear 300ms;
        -webkit-transition: box-shadow 2s linear 300ms;
        &:hover{
            box-shadow: 1px 0px 10px 5px #646FD4;
            -webkit-box-shadow:1px 0px 10px 5px #646FD4;
        }
      }
      .subtitulo-patrones { 
        grid-area: titulo; 
        font-family: 'Crimson Text', serif;
        color: #003865;
      
        text-decoration: overline underline;
        text-shadow: 2px 2px 2px rgba(224, 219, 219, 0.534);
        font-size: 1.1em;
      }
      .texto-patrones { 
        grid-area: texto; 
        background-color: #DBDFFD;
        box-shadow: 5px 5px 10px #242424;
        padding: 10px;
        margin: 10px;
        color : #003865;
      }
    
  }

  /* --- Fin página información----- */