/* Página suscribete.html*/

.formulario {
  padding: 20px;
  font-family: 'Crimson Text', serif;
  color: $color-texto;
  display: flex;
  justify-content: center;
  background: url("../images/stardust.png");
  object-fit: cover;
 
  form {
    background-color: $color-fondo;
    border-radius: 5px;

    h1 {
      background-color: #607EAA;
      font-size: 20px;
      text-align: center;
      color: #fff;
      padding: 10px;
      border-radius: 5px;
      justify-content: center;
    }

    label {
      font-size: 1rem;
      padding: 1%;
    }

    input {
      padding: 1%;
      border-radius: 3px;
      margin: 5px;
    }

    .datos-personales {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: stretch;
      justify-content: center;
      align-items: stretch;
      margin: 5px;
      padding: 5px;
    }

    .opciones {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 5px;
      padding: 5px;
    }

    .boton {
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;
      padding: 10px;
    }

    .btn-enviar {
      font-size: 15px;
      font-family: $fuente-titulo;
      width: 80px;
      height: 40px;
      border-width: 2px;
      color: #fff;
      border-color: #599bb3;
      border-radius: 5px;
      background: linear-gradient(#599bb3, #408c99);

      &:hover {
        background: linear-gradient(#408c99, #599bb3);
      }
    }
  }
}
/* -- Fin Suscribet.html -- */
